<ion-view class="login_form">
  <ion-nav-title><p align="center" style="color:white; font-family: cursive">Login</p></ion-nav-title>
  <ion-nav-bar class="bar-positive">
  </ion-nav-bar>
  <ion-content class="padding">
    <div class="left_pane">
      <p></p>
    </div>
    <div class="middle_pane login_form">
      <label class=" item-input">
        <i class="icon ion-ios-person placeholder-icon"></i>
        <input type="text" placeholder="Username" id="login_username">
      </label>
      <div class="line"></div>
      <label class=" item-input">
        <i class="icon ion-lock-combination placeholder-icon"></i>
        <input type="password" placeholder="Password" id="login_password">
      </label>
      <div class="line"></div>
      <div class="button_div">
        <button class="button button-block button-positive" ng-click="loginAction()"><p
          style="color:white; font-family: cursive; text-align: center">Login</p></button>
      </div>
    </div>
    <div class="right_pane">
      <p></p>
    </div>
  </ion-content>
</ion-view>
