<ion-view id="random" title="Register">
  <ion-nav-title><p align="center" style="color:white; font-family: cursive">Register</p></ion-nav-title>
  <ion-nav-bar class="bar-positive">
  </ion-nav-bar>
  <ion-content class="padding">
    <div class="left_pane">
      <p></p>
    </div>
    <div class="middle_pane register_form">
      <label class="item-input">
        <i class="icon ion-ios-person placeholder-icon"></i>
        <input type="text" placeholder="First Name" id="register_first_name">
      </label>
      <div class="line"></div>
      <label class=" item-input">
        <i class="icon ion-ios-person placeholder-icon"></i>
        <input type="text" placeholder="Last Name" id="register_last_name">
      </label>
      <div class="line"></div>
      <label class="item-input">
        <i class="icon ion-email placeholder-icon"></i>
        <input type="text" placeholder="Email" id="register_email">
      </label>
      <div class="line"></div>
      <label class="item-input">
        <i class="icon ion-ios-person placeholder-icon"></i>
        <input type="text" placeholder="Username" id="register_username">
      </label>
      <div class="line"></div>
      <label class="item-input">
        <i class="icon ion-lock-combination placeholder-icon"></i>
        <input type="text" placeholder="Password" id="register_password">
      </label>
      <div class="line"></div>
      <label class=" item-input">
        <i class="icon ion-lock-combination placeholder-icon"></i>
        <input type="text" placeholder="Confirm Password" id="register_confirm_password">
      </label>
      <div class="line"></div>
      <div class="button_div">
        <button class="button button-block button-positive" ng-click="registerAction()"><p
          style="color:white; font-family: cursive; text-align: center">Register</p></button>
      </div>
    </div>
    <div class="right_pane">
      <p></p>
    </div>
  </ion-content>
</ion-view>
