/* Empty. Add your own CSS if you like */
h4 {
  text-align: center;
}

p {
  text-align: center;
}

.line {
  width: 60%;
  border-bottom: 1.5px solid lightgrey;
  position: absolute;
}

.login_tab, .register_tab {
  color: white;
}

.left_pane {
  width: 10%;
  float: left;
}

.middle_pane {
  width: 80%;
  float: left;
}

.middle_pane_bottom {
  width: 100%;
  float: top;
  padding: 10%;
  background-color: white;
}

.right_pane {
  width: 10%;
  float: right;
}

.register_form {
  background-color: lightgrey;
  padding-top: 50px;
}

.login_form {
  background-color: lightgrey;
  padding-top: 80px;
}

*::-webkit-input-placeholder {
  color: grey !important;
  font-family: cursive;

}

*:-moz-placeholder {
  color: grey !important;
}

*:-ms-input-placeholder { /* IE10+ */
  color: grey !important;
}

input {
  text-align: center;
  border-color: dodgerblue;
  display: none;
}

.placeholder-icon {
  color: black;
  width: 100px;
  font-size: large;
}

.button_div {
  width: 100%;
  padding-top: 15px;
}

ion-nav-title {
  text-align: center;
}
