<div class="side-navbar">
    <ul class="list-group" *ngIf="authService.isRouteDisplay('home')">
        <li></li>
    </ul>
    <ul class="list-group" *ngIf="authService.isRouteDisplay('machine')">
        <li *ngIf="authService.loggedIn()  && authService.checkPrivilege('machine')" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact : true }" class="list-group-item" [routerLink]="['/machine']">Machine</li>
        <li *ngIf="authService.loggedIn()  && authService.checkPrivilege('machinegroup')" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact : true }" class="list-group-item" [routerLink]="['/machinegroup']">Machine
            group</li>
        <li *ngIf="authService.loggedIn()  && authService.checkPrivilege('area')" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact : true }" class="list-group-item" [routerLink]="['/area']">Area</li>
        <li *ngIf="authService.loggedIn()  && authService.checkPrivilege('line')" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact : true }" class="list-group-item" [routerLink]="['/line']">Line</li>
        <li *ngIf="authService.loggedIn()  && authService.checkPrivilege('reasons')" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact : true }" class="list-group-item" [routerLink]="['/reasons']">Reasons</li>
    </ul>
    <ul class="list-group" *ngIf="authService.isRouteDisplay('user')">
        <li *ngIf="authService.loggedIn() && authService.checkPrivilege('user')" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact : true }" class="list-group-item" [routerLink]="['/user']">User</li>
        <li *ngIf="authService.loggedIn()  && authService.checkPrivilege('usergroup')" [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact : true }" class="list-group-item" [routerLink]="['/usergroup']">User
            group</li>
    </ul>
</div>